<!--

  That is all the view that your Ember app will need.
  Ember will automatically attach its own default template to the <body> tag.

-->
<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :application %>
    <title>Title</title>
  </head>
  <body>
  </body>
</html>